img{
    width: 300px;
    height: 300px;
}

.panel {
    background-color: #dedede;
    border-radius: 10px;
    padding: 15px 25px;
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}